# 编译生成的中间文件和目标文件
*.o
*.obj
*.so
*.dll
*.dylib
*.exe

# CMake 生成的相关文件和目录
/build/
/devel/
/install/
/log/
/output_txt/
/*.txt
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ROS2 构建时产生的日志和其它文件
*.log
*.tmp

# 编辑器、IDE 相关目录
.vscode/*
# 但保留（取消忽略） launch.json
!.vscode/launch.json
.idea/

# 临时文件
*~
*.swp